[submodule "squeezelite"]
	path = squeezelite
	url = https://github.com/ThaYapeMan/squeezelite.git
[submodule "third_party/yeney-core"]
	path = third_party/yeney-core
	url = https://github.com/ThaYapeMan/yeney-core.git
