*.o
/sonos-lms
attic
*.sh

/encoder-test

/resume-state-test
/streamer-test
!scripts/*.sh



/position-test

/upnp-test
/own-control-test
/noson-golden

speaker-state-test

/http-server-test

/stream-content-test

/encoded-buffer-test
